* {
  --color-grey-dark: darkgrey;
  --color-red: red;
  --color-white: white;
  --color-black: black;
  --color-seagreen: seagreen;
  --color-darkolivegreen: darkolivegreen;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: .25rem;
  position: fixed;
  top: 0;
  background-color: var(--color-white);
}

button {
  width: 33.33%;
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px 1px var(--color-grey-dark);
  border-radius: .25rem;
  cursor: pointer;
}

button.active {
  background-color: var(--color-seagreen);
  box-shadow: 1px 1px 1px 1px var(--color-darkolivegreen);
  color: var(--color-white);
}

.list-item {
  text-align: left
}

.error {
  color: var(--color-red);
}

.data-view {
  margin-top: 2.25rem;
}

.data-view__table {
  width: 100%;
  border-spacing: 1px;
  border: none;
  text-align: left;
}

.data-view__table tbody {
  overflow-wrap: anywhere;
}

.data-view__table td,
.data-view__table th {
  border: 1px solid var(--color-grey-dark);

}